body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/37800720_1598168463638478_8278295639062740992_o.jpg?_nc_cat=0&oh=780f6302450066a676f7554da1f81bb1&oe=5BE15E2D");
  background-position: center;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:  auto;
}

