.title {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-family: 'Saira', sans-serif;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
